div {
    font-size: 1.2rem;
}
.d-flex{
    border-radius: 20px;
}
.carrito img {
    width: 60px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.carrito img:hover {
    width: 68px;
}