.contador {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: flex-start;
  background-color: #383838;
}

.contador button {
  padding: 10px 20px;
  font-size: 16px;
  color: #ffffff;
  background-color: #383838;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
  border: 4px solid orangered;
}

.contador button:hover {
  background-color: #000000;
}

.contador p {
  font-size: 20px;
  color: rgb(255, 255, 255);
  min-width: 20px;
  text-align: center;
  margin-top: 25px;
}

.contador h1 {
  font-size: 30px;
  color: #a8a8a8;
}