.zoom-container {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-bottom: 15px;
  border-radius: 10px;
}

.zoom-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.zoom-lens {
  position: absolute;
  border: 2px solid #000;
  border-radius: 50%;
  width: 400px;
  height: 400px;
  pointer-events: none;
  background-repeat: no-repeat;
  background-size: 350% 350%;
  display: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  cursor: none;
  transition: all 0.1s ease;
}